<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>树状图</title>
    <link rel="stylesheet" href="../bower_components/jstree/dist/themes/default/style.css" media="all">
    <link rel="stylesheet" href="../css/tree.css" media="all">
</head>
<body>
    <div id="tree"></div>
    <button id="addBtn" disabled>添加</button>
    <button id="delBtn" disabled>删除</button>
</body>
<script src="../bower_components/jquery/dist/jquery.min.js"></script>
<script src="../bower_components/jstree/dist/jstree.min.js"></script>
<script>
// 通过json直接配置树状图
$('#tree').jstree({
    "check_callback":true,
    'core':{
        'data':[
        {
            "text":"广州市",
            "state":{"opened":true},
            "icon":"city",
            "children":[
            {
                "text":"二号线",
                "state":{"opened":true},
                "icon":"line",
                "children":[
                {
                    "text":"公园前区间",
                    "state":{"opened":true},
                    "icon":"area",
                    "children":[{
                        "text":"左线",
                        "icon":"left"
                    },{
                        "text":"右线",
                        "icon":"right"
                    }]
                },
                {
                    "text":"公园前区间",
                    "state":{"opened":true},
                    "icon":"area",
                    "children":[{
                        "text":"左线",
                        "icon":"left"
                    },{
                        "text":"右线",
                        "icon":"right"
                    }]
                },
                {
                    "text":"公园前区间",
                    "state":{"opened":true},
                    "icon":"area",
                    "children":[{
                        "text":"左线",
                        "icon":"left"
                    },{
                        "text":"右线",
                        "icon":"right"
                    }]
                },
                {
                    "text":"公园前区间",
                    "state":{"opened":true},
                    "icon":"area",
                    "children":[{
                        "text":"左线",
                        "icon":"left"
                    },{
                        "text":"右线",
                        "icon":"right"
                    }]
                },
                {
                    "text":"公园前区间",
                    "state":{"opened":true},
                    "icon":"area",
                    "children":[{
                        "text":"左线",
                        "icon":"left"
                    },{
                        "text":"右线",
                        "icon":"right"
                    }]
                },
                {
                    "text":"公园前区间",
                    "state":{"opened":true},
                    "icon":"area",
                    "children":[{
                        "text":"左线",
                        "icon":"left"
                    },{
                        "text":"右线",
                        "icon":"right"
                    }]
                },
                {
                    "text":"公园前区间",
                    "state":{"opened":true},
                    "icon":"area",
                    "children":[{
                        "text":"左线",
                        "icon":"left"
                    },{
                        "text":"右线",
                        "icon":"right"
                    }]
                }
                ]
            }]
        }]
    }
});

/**
  * 通过访问API接口更新tree
  * 接口：localhost:10220/tree/treeArea（关于接口的修改，请参考根目录关于gulp-mock-server的使用)
  */
function update(){
    var tree = $("#tree").jstree(true);
    tree.settings.core.data = {
            "url":"http://127.0.0.1:10220/tree/treeArea",
            "dataType":"json",
    };
    tree.settings.core.check_callback = true;
    tree.refresh();
}

// 选中事件回应
$("#tree").on("select_node.jstree",function(e,data){
   $("#addBtn").prop('disabled',false);
   $("#delBtn").prop('disabled',false);
});

// 选中节点添加子节点
$("#addBtn").on('click',function(){
    var tree = $("#tree").jstree(true);
    var target = tree.get_selected(true);
    var success = tree.create_node(target,{ "text":"公园前区间", "icon":"area" },"last",null);
});

// 删除选中节点
$("#delBtn").on('click',function(){
    var tree = $("#tree").jstree(true);
    var node = tree.get_selected(true);
    var success = tree.delete_node(node);
});


// 2秒后发起请求
//setTimeout(update,2000);
</script>
</html>
