<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.zdmake.metro.dao.IMetroLineIntervalSaDao">
    <resultMap id="lineIntervalSaResultMap" type="cn.zdmake.metro.model.MetroLineIntervalSa" >
        <id property="id" column="id"/>
        <result property="intervalId" column="interval_id"/>
        <result property="leftOrRight" column="left_or_right"/>
        <result property="ringNum" column="ring_num"/>
        <result property="horizontalDev" column="horizontal_dev"/>
        <result property="verticalDev" column="vertical_dev"/>
        <result property="dateTime" column="date_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <insert id="insertObj" parameterType="cn.zdmake.metro.model.MetroLineIntervalSa" useGeneratedKeys="true" keyProperty="id">
        insert into metro_line_interval_sa(interval_id,left_or_right,ring_num,horizontal_dev,vertical_dev,date_time)
        values(#{intervalId},#{leftOrRight},#{ringNum},#{horizontalDev},#{verticalDev},now())
    </insert>

    <update id="updateObj" parameterType="java.util.HashMap">
        update metro_line_interval_sa
        set update_time=now()
        <if test="intervalId != null">
            ,interval_id=#{intervalId}
        </if>
        <if test="leftOrRight != null">
            ,left_or_right=#{leftOrRight}
        </if>
        <if test="ringNum != null">
            ,ring_num=#{ringNum}
        </if>
        <if test="horizontalDev != null">
            ,horizontal_dev=#{horizontalDev}
        </if>
        <if test="verticalDev != null">
            ,vertical_dev=#{verticalDev}
        </if>
        where id=#{intervalSaId}
    </update>

    <delete id="deleteObj" parameterType="java.util.HashMap">
        delete from metro_line_interval_sa where id=#{intervalSaId}
    </delete>

    <select id="findObjById" parameterType="java.util.HashMap" resultMap="lineIntervalSaResultMap">
        select * from metro_line_interval_sa where id=#{intervalSaId}
    </select>

    <!-- 总记录数 -->
    <select id="countObjs" parameterType="java.util.HashMap" resultType="java.lang.Integer">
        select count(1) from metro_line_interval_sa
        <if test="intervalId != null">
            where interval_id=#{intervalId}
        </if>
    </select>

    <!-- 分页查询 -->
    <select id="findObjsList" parameterType="java.util.HashMap" resultMap="lineIntervalSaResultMap">
        select * from metro_line_interval_sa
        <if test="intervalId != null">
            where interval_id=#{intervalId}
        </if>
        <if test="start != null">
            limit #{start},#{pageSize}
        </if>
    </select>

    <select id="findLineIntervalSas" parameterType="java.util.HashMap" resultMap="lineIntervalSaResultMap">
        select *  from metro_line_interval_sa
        <if test="intervalId!=null">
            where interval_id=#{intervalId}
        </if>
    </select>

    <select id="findUniqueData" parameterType="java.util.HashMap" resultMap="lineIntervalSaResultMap">
        select * from metro_line_interval_sa where
        interval_id=#{intervalId}
        and ring_num=#{ringNum}
        and left_or_right=#{leftOrRight}
    </select>
</mapper>
