<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.zdmake.metro.dao.IMetroPhotoDao">
	<resultMap id="photoResultMap" type="cn.zdmake.metro.model.MetroPhoto">
		<id property="id" column="id" />
		<result property="photoName" column="photo_name" />
		<result property="photoUrl" column="photo_url" />
		<result property="photoType" column="photo_type" />
		<result property="updateTime" column="update_time" />
		<result property="createTime" column="create_time" />
	</resultMap>

	<select id="countObjs" parameterType="java.util.HashMap" resultType="java.lang.Integer">
		SELECT count(1) FROM metro_photos
		<if test="photoId!=null">
			WHERE id=#{photoId}
		</if>
	</select>

	<select id="findObjsList" parameterType="java.util.HashMap" resultMap="photoResultMap">
		SELECT * FROM metro_photos
		<if test="photoId!=null">
			WHERE id=#{photoId}
		</if>
		LIMIT #{start},#{pageSize}
	</select>

	<delete id="deleteObj" parameterType="java.util.HashMap">
		DELETE FROM metro_photos WHERE id=#{photoId}
	</delete>

	<insert id="insertObj" parameterType="cn.zdmake.metro.model.MetroPhoto" useGeneratedKeys="true"
		keyProperty="id">
		INSERT INTO metro_photos(photo_name,photo_url,photo_type,create_time)
		VALUES(#{photoName},#{photoUrl},#{photoType},now())
	</insert>

	<update id="updateObj" parameterType="java.util.HashMap">
		UPDATE metro_photos
		SET photo_name=#{photoName},
		    photo_url=#{photoUrl},
		    photo_type=#{photoType}
		WHERE id=#{photoId}
	</update>
	
	<select id="findByType" parameterType="int" resultMap="photoResultMap">
		SELECT * FROM metro_photos WHERE photo_type=#{photoType}
	</select>

	<select id="findObjsListByIntervalId" parameterType="java.util.HashMap" resultMap="photoResultMap">
		SELECT * FROM metro_photos p
		WHERE EXISTS
		   (SELECT * FROM metro_line_interval_lr lr
			WHERE lr.interval_id=#{intervalId}
		    AND lr.left_or_right=#{leftOrRight}
		    AND lr.cutter_photo_id=p.id
		    OR lr.screw_photo_id=p.id OR lr.slurry_photo_id=p.id)
	</select>
</mapper>
