<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.zdmake.metro.dao.IMetroDataRightDao">
<resultMap id="drResultMap" type="cn.zdmake.metro.model.MetroUserDataRel" >
	<result property="userId" column="user_id"/>
	<result property="cityId" column="city_id"/>
	<result property="lineId" column="line_id"/>
	<result property="intervalId" column="interval_id"/>
	<result property="leftOrRight" column="left_or_right"/>
</resultMap>

<select id="findObjsList" parameterType="java.util.HashMap" resultMap="drResultMap">
	select r.* from
	(select * from metro_user where id=#{userId} and is_del=0) u
	inner join metro_user_data_rel r on u.id=r.user_id
</select>

<insert id="insertObj" parameterType="cn.zdmake.metro.model.MetroUserDataRel" useGeneratedKeys="true" keyProperty="id">
	insert into metro_line(user_id,city_id,line_id,interval_id,left_or_right,create_time)
	values(#{userId},#{cityId},#{lineId},#{intervalId},#{leftOrRight},now())
</insert>

<!-- <select id="findObjsByUserId" parameterType="java.util.HashMap" resultMap="drResultMap">
    select * from metro_user_data_rel where user_id=#{userId}
</select> -->

<delete id="deleteObj" parameterType="java.util.HashMap">
	delete from metro_user_data_rel where user_id=#{userId}
</delete>

<insert id="insertObjs" parameterType="java.util.HashMap">
	insert into metro_user_data_rel(user_id,city_id,line_id,interval_id,left_or_right)
	values
	<foreach collection="udrlist" item="udr" separator=",">
		(#{udr.userId},#{udr.cityId},#{udr.lineId},#{udr.intervalId},#{udr.leftOrRight})
	</foreach>
</insert>
</mapper>
