<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.zdmake.metro.dao.IMetroLineIntervalDao">
<resultMap id="lineIntervalResultMap" type="cn.zdmake.metro.model.MetroLineInterval" >
	<id property="id" column="id"/>
	<result property="lineId" column="line_id"/>
	<result property="intervalMark" column="interval_mark"/>
	<result property="intervalName" column="interval_name"/>
	<result property="status" column="status"/>
	<result property="projectPdfUrl" column="project_pdf_url"/>
	<result property="imgMapXyUrl" column="img_map_xy_url"/>
	<result property="riskPdfUrl" column="risk_pdf_url"/>
	<result property="remark" column="remark"/>
	<result property="updateTime" column="update_time"/>
	<result property="createTime" column="create_time"/>
	<collection property="intervalDataList" column="id" ofType="cn.zdmake.metro.model.MetroLineIntervalData"
           select="cn.zdmake.metro.dao.IMetroLineIntervalDataDao.findObjsForLineInterval"/>
   	<collection property="intervalLrList" column="id" ofType="cn.zdmake.metro.model.MetroLineIntervalLr"
          select="cn.zdmake.metro.dao.IMetroLineIntervalLrDao.findObjsForLineInterval"/>
</resultMap>

<select id="findObjsForLine" parameterType="long" resultMap="lineIntervalResultMap">
    select * from metro_line_interval where line_id=#{lineId}
</select>

<insert id="insertObj" parameterType="cn.zdmake.metro.model.MetroLineInterval" useGeneratedKeys="true" keyProperty="id">
	insert into metro_line_interval(line_id,interval_mark,interval_name,status,project_pdf_url,img_map_xy_url,remark,create_time)
	values(#{lineId},#{intervalMark},#{intervalName},#{status},#{projectPdfUrl},#{imgMapXyUrl},#{remark},now())
</insert>

<update id="updateObj" parameterType="java.util.HashMap">
	update metro_line_interval 
	set update_time=now()
	<if test="lineId != null">
	  ,line_id=#{lineId}
	</if>
	<if test="intervalMark != null">
	  ,interval_mark=#{intervalMark}
	</if>
	<if test="intervalName != null">
	  ,interval_name=#{intervalName}
	</if>
	<if test="status != null">
	  ,status=#{status}
	</if>
	<if test="projectPdfUrl != null">
	  ,project_pdf_url=#{projectPdfUrl}
	</if>
	<if test="imgMapXyUrl != null">
	  ,img_map_xy_url=#{imgMapXyUrl}
	</if>
	<if test="remark != null">
	  ,remark=#{remark}
	</if>
	where id=#{intervalId}
</update>

<delete id="deleteObj" parameterType="java.util.HashMap">
	delete from metro_line_interval where id=#{intervalId}
</delete>

<select id="findObjById" parameterType="java.util.HashMap" resultMap="lineIntervalResultMap">
	select * from metro_line_interval where id=#{intervalId}
</select>

 <!--修改风险组段划分文档url-->
<update id="editRiskPdfUrl" parameterType="java.util.HashMap" >
	update metro_line_interval set risk_pdf_url=#{riskPdfUrl} where id=#{intervalId}
</update>

</mapper>
