<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.zdmake.metro.dao.IMetroUserDao">
<resultMap id="userResultMap" type="cn.zdmake.metro.model.MetroUser" >
	<id property="id" column="id"/>
	<result property="roleId" column="role_id"/>
	<result property="username" column="username"/>
	<result property="name" column="name"/>
	<result property="sex" column="sex"/>
	<result property="isUsed" column="is_used"/>
	<result property="loginTime" column="login_time"/>
	<result property="loginIp" column="login_ip"/>
	<result property="onlineStatus" column="online_status"/>
	<result property="createTime" column="create_time"/>
	<association property="role" javaType="cn.zdmake.metro.model.MetroRole">
		<result property="roleName" column="role_name"/>
		<result property="roleCode" column="role_code"/>
	</association>	
	<collection property="deptList" javaType="java.util.List" ofType="cn.zdmake.metro.model.MetroDept">
		<id property="id" column="dept_id"/>
	</collection>
</resultMap>

<insert id="insertObj" parameterType="cn.zdmake.metro.model.MetroUser" useGeneratedKeys="true" keyProperty="id">
	INSERT INTO metro_user(role_id,username,password,name,is_del,is_used,create_time)
	VALUES(#{roleId},#{username},#{password},#{name},0,1,NOW())
</insert>

<!-- 修改用户信息开始 begin-->
<!-- 更新用户信息 -->
<update id="updateObj" parameterType="java.util.HashMap">
	UPDATE metro_user 
	set 
		username=#{username},
		name=#{name},
		role_id=#{roleId}			
	WHERE id=#{userId}
</update>
<!-- 删除用户部门关系 -->
<delete id="delUserDeptRel" parameterType="java.util.HashMap">
	delete from metro_user_dept_rel
	where user_id=#{userId} and dept_id in(
		<foreach collection="deptIds" item="id" separator=",">
	          #{id}
	    </foreach>
	)
</delete>
<!-- 添加用户部门关系 -->
<insert id="addUserDeptRel" parameterType="java.util.HashMap">
	insert into metro_user_dept_rel(dept_id,user_id)
	values
		<foreach collection="deptIds" item="deptId" separator=",">
	          (#{deptId},#{userId})
	    </foreach>
</insert>
<!-- 修改用户信息结束 end-->
	
<!-- 逻辑删除 -->
<update id="deleteObj" parameterType="java.util.HashMap">
	update metro_user set is_del=1 where id=#{userId}
</update>

<delete id="deleteObjDeptRel" parameterType="java.util.HashMap">
	delete from metro_user_dept_rel where user_id=#{userId} and dept_id=#{deptId}
</delete>

<select id="findObjById" parameterType="java.util.HashMap" resultMap="userResultMap">
	SELECT 
		u.*,r.role_name,r.role_code,dr.dept_id
	FROM (select * from metro_user where 
			<if test="userId!=null">
				 id=#{userId} and 
			</if>
			is_del=0
		 ) u
	INNER JOIN metro_role r on u.role_id=r.id
	INNER JOIN metro_user_dept_rel dr ON u.id=dr.user_id 
</select>

<!-- 总记录数 -->
<select id="countObjs" parameterType="java.util.HashMap" resultType="java.lang.Integer">
	SELECT 
		count(*)
	FROM (select * from metro_user where is_del=0) u
	INNER JOIN metro_role r on u.role_id=r.id
	INNER JOIN (select * from metro_user_dept_rel 
					<if test="deptId!=null">
						where dept_id=#{deptId}
					</if>
				) dr ON u.id=dr.user_id 
</select>

<!-- 分页查询 -->
<select id="findObjsList" parameterType="java.util.HashMap" resultMap="userResultMap">
	SELECT 
		u.*,r.role_name,r.role_code,dr.dept_id
	FROM (select * from metro_user where is_del=0) u
	INNER JOIN metro_role r on u.role_id=r.id
	INNER JOIN (select * from metro_user_dept_rel 
					<if test="deptId!=null">
						where dept_id=#{deptId}
					</if>
				) dr ON u.id=dr.user_id 
	LIMIT #{start},#{pageSize}
</select>

<!-- 修改密码 -->
<update id="editUserPassword" parameterType="java.util.HashMap" >
	update metro_user set password=#{password} where id=#{userId}
</update>

<select id="findMetroUserUsername" parameterType="java.util.HashMap" resultType="java.lang.Integer">
	select count(1) from metro_user where username=#{username} and is_del=0
</select>


<resultMap id="userResultMapr" type="cn.zdmake.metro.model.MetroUser" >
	<id property="id" column="id"/>
	<result property="roleId" column="role_id"/>
	<result property="username" column="username"/>
	<result property="name" column="name"/>
	<result property="isUsed" column="is_used"/>
	<result property="sex" column="sex"/>
	<result property="createTime" column="create_time"/>
</resultMap>

<!-- 用户实体总记录数 -->
<select id="countObjsr" parameterType="java.util.HashMap" resultType="java.lang.Integer">
	select count(1) from metro_user where is_del=0
</select>

<!-- 用户实体分页查询 -->
<select id="findObjsListr" parameterType="java.util.HashMap" resultMap="userResultMapr">
	SELECT 
		*
	FROM metro_user u
	where is_del=0
	LIMIT #{start},#{pageSize}
</select>
</mapper>
