<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.zdmake.metro.dao.IMetroWarningRecDao">
<resultMap id="warnRecResultMap" type="cn.zdmake.metro.model.MetroLineIntervalWarningRec" >
	<id property="id" column="id"/>
	<result property="intervalId" column="interval_id"/>
	<result property="leftOrRight" column="left_or_right"/>
	<result property="paramName" column="param_name"/>
	<result property="numValue" column="num_value"/>
	<result property="warningLevel" column="warning_level"/>
	<result property="ringNum" column="ring_num"/>
	<result property="redWarningMax" column="red_warning_max"/>
	<result property="orangeWarningMax" column="orange_warning_max"/>
	<result property="orangeWarningMin" column="orange_warning_min"/>
	<result property="redWarningMin" column="red_warning_min"/>
	<result property="warningTime" column="warning_time"/>
	<result property="updateTime" column="update_time"/>
	<result property="createTime" column="create_time"/>
	<association property="dic" javaType="cn.zdmake.metro.model.MetroDictionary">
		<id property="id" column="dic_id"/>
		<result property="dicNo" column="dic_no"/>
		<result property="dicName" column="dic_name"/>
		<result property="dicMean" column="dic_mean"/>
		<result property="dicPrecision" column="dic_precision"/>
		<result property="dicUnit" column="dic_unit"/>
		<result property="dicType" column="dic_type"/>
	</association>
</resultMap>

<select id="countObjs" parameterType="java.util.HashMap" resultType="java.lang.Integer">
	select count(1) from metro_line_interval_warning_rec 
	WHERE interval_id=#{intervalId} AND left_or_right=#{leftOrRight}
				<if test="warnParam!=null">
				and param_name = #{warnParam}
				</if>			
				and warning_time BETWEEN STR_TO_DATE(#{beginTime},'%Y-%m-%d') AND STR_TO_DATE(#{endTime},'%Y-%m-%d')
				 
</select>

<select id="findObjsList" parameterType="java.util.HashMap" resultMap="warnRecResultMap">
	select 
		a.*,
		dic.id dic_id,dic.dic_no,dic.dic_name,dic.dic_mean,dic.dic_precision,dic.dic_unit,dic.dic_type
	from (
		SELECT 
		* 
		FROM metro_line_interval_warning_rec 
		WHERE interval_id=#{intervalId} AND left_or_right=#{leftOrRight} 
				<if test="warnParam!=null">
				and param_name = #{warnParam}
				</if>			
				and warning_time BETWEEN STR_TO_DATE(#{beginTime},'%Y-%m-%d') AND STR_TO_DATE(#{endTime},'%Y-%m-%d')
		ORDER BY create_time DESC
	) a 
	inner join metro_dictionary dic on a.param_name=dic.dic_name
	limit #{start},#{pageSize}
</select>

<select id="findLastWarningRecs" parameterType="java.util.HashMap" resultMap="warnRecResultMap">
	select 
		a.*,
		dic.id dic_id,dic.dic_no,dic.dic_name,dic.dic_mean,dic.dic_precision,dic.dic_unit,dic.dic_type
	from (
		SELECT re.* FROM 
		<if test="userId!=1">
			(SELECT * FROM metro_user_data_rel WHERE user_id=#{userId}) u
			INNER JOIN
		</if>
		metro_line_interval_warning_rec re 
		<if test="userId!=1">
			ON u.interval_id=re.interval_id AND u.left_or_right=re.left_or_right
		</if>
		WHERE re.warning_time>DATE_SUB(NOW(),INTERVAL '1:0' MINUTE_SECOND)
		) a 
	inner join metro_dictionary dic on a.param_name=dic.dic_name
</select>

<select id="findLastWarningRecsByIntervalId" parameterType="java.util.HashMap" resultMap="warnRecResultMap">
	select
	a.*,
	dic.id dic_id,dic.dic_no,dic.dic_name,dic.dic_mean,dic.dic_precision,dic.dic_unit,dic.dic_type
	from (SELECT re.* FROM metro_line_interval_warning_rec re
		WHERE re.interval_id=#{intervalId} AND re.left_or_right=#{leftOrRight} AND re.warning_time>DATE_SUB(NOW(),INTERVAL '10:0' MINUTE_SECOND)
		) a
	inner join metro_dictionary dic on a.param_name=dic.dic_name
</select>

<!-- 批量插入 -->
<insert id="insertObjs" parameterType="java.util.List">
	insert into metro_line_interval_warning_rec(interval_id,param_name,num_value,warning_level,ring_num,red_warning_max,orange_warning_max,orange_warning_min,red_warning_min,left_or_right,warning_time,create_time)
    values
    <foreach collection="list" item="item" index="index" separator=",">
          (#{item.intervalId},#{item.paramName},#{item.numValue},#{item.warningLevel},#{item.ringNum},#{item.redWarningMax},#{item.orangeWarningMax},#{item.orangeWarningMin},#{item.redWarningMin},#{item.leftOrRight},#{item.warningTime},now())
    </foreach>
</insert>

<insert id="insertObj" parameterType="cn.zdmake.metro.model.MetroLineIntervalWarningRec" useGeneratedKeys="true" keyProperty="id">
	insert into metro_line_interval_warning_rec(interval_id,param_name,num_value,warning_level,ring_num,red_warning_max,orange_warning_max,orange_warning_min,red_warning_min,left_or_right,warning_time,create_time)
	values(#{intervalId},#{paramName},#{numValue},#{warningLevel},#{ringNum},#{redWarningMax},#{orangeWarningMax},#{orangeWarningMin},#{redWarningMin},#{leftOrRight},#{warningTime},now())
</insert>

<update id="updateObj" parameterType="java.util.HashMap">
	update metro_line_interval_warning_rec 
	set update_time=now()
	<if test="intervalId != null">
	  ,interval_id=#{intervalId}
	</if>
	<if test="paramName != null">
	  ,param_name=#{paramName}
	</if>
	<if test="numValue != null">
	  ,num_value=#{numValue}
	</if>
	<if test="warningLevel != null">
	  ,warning_level=#{warningLevel}
	</if>
	<if test="ringNum != null">
	  ,ring_num=#{ringNum}
	</if>
	<if test="redWarningMax != null">
	  ,red_warning_max=#{redWarningMax}
	</if>
	<if test="orangeWarningMax != null">
	  ,orange_warning_max=#{orangeWarningMax}
	</if>
	<if test="orangeWarningMin != null">
	  ,orange_warning_min=#{orangeWarningMin}
	</if>
	<if test="redWarningMin != null">
	  ,red_warning_min=#{redWarningMin}
	</if>
	<if test="leftOrRight != null">
	  ,left_or_right=#{leftOrRight}
	</if>
	<if test="warningTime != null">
	  ,warning_time=#{warningTime}
	</if>
	where id=#{intervalWariningRecId}
</update>

<delete id="deleteObj" parameterType="java.util.HashMap">
	delete from metro_line_interval_warning_rec where id=#{intervalWariningRecId}
</delete>

<select id="findObjById" parameterType="java.util.HashMap" resultMap="warnRecResultMap">
	select * from metro_line_interval_warning_rec where id=#{intervalWariningRecId}
</select>
</mapper>
